@import "tailwindcss";

/* Custom fonts */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "medium";
  src: url("/fonts/medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.del {
  font-family: "firalight";
  font-size: 14px;
}

.bread {
  left: 0;
  top: 0; /* height of your fixed/sticky header */
  padding-bottom: 10px;
  padding: 13px 10px 0 10px;
  color: rgb(148, 163, 184);
  position: relative;
  width: 100%;
  /* background-color: #020817; */
}
.malx{
  font-family: "firalight";
  font-size: 12px;
}

.ax {
  display: flex;
  flex-direction: column;
  position: relative; /* sticky requires positioned parent */
  display: flex;
  margin: 88px 15px;

  justify-content: flex-start;
  /* overflow: hidden; */
  width: 100%;
}

.cxz{
  margin: 10px 10px;
  position: sticky;
  top: 0;

}
@font-face {
  font-family: "regular";
  src: url("/fonts/regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dx {
  font-family: "fira";
  color: #fff;
  font-size: 10px;
  display: none;
}

.nasiya {
  color: #f87171;
  font-family: "medium";
  margin-bottom: 5px;
  padding-left: 20px;
  margin-top: -10px;
  font-size: 13px;
}
.gcx {
  font-family: "fira";
}
@font-face {
  font-family: "fira";
  src: url("/fonts/bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "firalight";
  src: url("/fonts/light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  
}

.bio_card_shown_top{
}

.doy{
  font-family: "fira";

  color: var(--green);
  text-decoration: underline;
}

/* Your existing CSS styles */

.footer_bottom {
  /* your styles */
}

.layout {
  display: flex;
  flex-direction: column;
  background-color: #020817;
  min-height: 100vh;
}

.naving {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.footering {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
}

.main-content {
  flex: 1;
  display: grid;
  place-items: center;
  padding-top: 60px; /* height of Nav */
  padding-bottom: 60px; /* height of Footer */
  overflow-y: auto; /* enable scroll inside */
  padding: 20px;
}

:root {
  --short: rgb(148, 163, 184);

  --purple: rgb(168, 85, 247);
  --green: rgb(74, 222, 128);
  --gold: rgb(245, 158, 11);
}

.dad {
  background-color: #020817;
  border: 1px solid #1c2538;
  /* width: 100; */
  /* position: fixed; */
  padding-top: 87px;
}

.boho {
  padding-left: 5px;
}

.second {
  /* padding:0px 20px; */
}
.nedda{
  font-weight: bold;
  font-family: "fira";
width: 14px;
}
.app_label {
  /* border: 1px solid #1c2538; */
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #94a3b8;


  font-family: "Inter";
}

.lino {
  width: 95%;
  background-color: #1c2538;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px auto;
  height: 1px;
}

.sasane {
  display: flex;
  align-items: center;
  gap: 5px;
}
.linos {
  width: 100%;
  background-color: #1c2538;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 0px auto;
  height: 1px;
}

.dmo {
  transform: rotate(-90deg);
}

.side_title {
  /* color: rgb(148, 163, 184); */
  color: #fff;
  font-family: "Inter";
  font-size: 15px;
  cursor: pointer;
  line-height: 20px;
}

.vv:hover {
  /* hover styles if any */
}

.group\/sidebar-wrapper.has-data-\[variant\=inset\]\:bg-sidebar.flex.min-h-svh.w-full {
  /* position: relative; */
}

.haverd {
  margin-right: 3px;
  font-size: 14px;
}
